# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**          export-ignore
/addons     !export-ignore
/addons/**  !export-ignore

# Don't include useless addons.
/addons/gut                 export-ignore
/addons/gut/**              export-ignore
/addons/smart_line_edit     export-ignore
/addons/smart_line_edit/**  export-ignore
/addons/slider_spin_box     export-ignore
/addons/slider_spin_box/**  export-ignore